<section class="post">
    {{!-- make each post clickable ? and use that for routes/controllers --}}
    <a href="/post/{{id}}">
        <header class="post-header">
            <div class="post-title"><p>{{title}}</p></div> 
            <div class="post-info"><p>Posted By {{user.username}} on {{format_date createdAt}}</p></div> 
        </header>
    </a>
    <div class="post-body">
        <div>
            {{text}}
        </div>
    </div>

</section>